.Layout {
background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20190517204006-GettyImages-924558574.jpeg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
min-height: 100vh;
height: auto;
}

.bg-light-opacity {
    background-color: #f8f9fa!important;
    opacity: .70;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}