.Layout {
background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20190517204006-GettyImages-924558574.jpeg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
min-height: 100vh;
height: auto;
}


  